

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
  background: #F4F4F4;
  font-family: 'Dosis', sans-serif;
}

#title{
  background: url(../images/books.jpg);
  width: 50px;
  color: white;
  font-family: 'Sofia', cursive; 
}

h5{
	/*color: #4CAF50;*/
	color: #f48fb1 ;
} 
img.mediana{
  width: 150px; height: 200px;
  border: silver 10px solid;
  border-image-slice: 31;
  padding: 10px;
  text-align: justify;
}

 #grupos{
 	position: absolute;
 	width: 2000px;
 	height: 470px;
 	background-color: #D5DBDB;
 	left: 50px;
 }
#Books{
	position: absolute;
 	width: 1200px;
 	height: 400px;
 	top: 50px;
 	left: 100px;

}
 #videos{
 	position: absolute;
 	width: 1200px;
 	height: 400px;
 	top: 50px;
 	left: 50px;
 }
#twitter2{
 	position: absolute;
 	width: 500px;
 	height: 400px;
 	top: 50px;
 	left: 400px;

 }
 #twitter3{
 	position: absolute;
 	width: 500px;
 	height: 400px;
 	top: 50px;
 	left: 830px;

 }

#map-canvas{
 	position: absolute;
 	height: 400px;
 	top: 50px;
 }


 #paginacion{
 	position: absolute;
 	top: 450px;
 	left: 70px;

 }
